:root { 
--red_600:#dd4343; 
--green_900:#003e06; 
--black_900_3f:#0000003f; 
--light_blue_800:#0068d5; 
--teal_600:#059b5e; 
--black_900:#000000; 
--teal_602:#069e61; 
--teal_601:#079f62; 
--yellow_700:#f6c735; 
--yellow_900:#ea7b0c; 
--red_A700:#ff0000; 
--teal_A700:#00bbb3; 
--gray_700:#625e5e; 
--gray_500:#aea1a1; 
--white_A700_0c:#ffffff0c; 
--blue_500:#1486ff; 
--gray_800:#474747; 
--red_A200:#fd4d4d; 
--teal_A400:#00ffd1; 
--cyan_200:#88f3e1; 
--indigo_400:#4c78a8; 
--lime_A700:#9eff00; 
--white_A701:#ffffff; 
--white_A700:#fffdfd; 
--cyan_700:#00a59e; 
}