
.Login_Login {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(0,104,213,1.00);
}
.Login_Login .TSP3 {
	position: absolute;
	left: 534.28px;
	top: 58.52px;
	width: 350.36px;
	height: 174.8px;
	object-fit: cover;
	overflow: hidden;
}
.Login_Login .FieldBar {
	position: absolute;
	left: 557.84px;
	top: 331.36px;
	width: 326.8px;
	height: 34.96px;
}
.Login_Login .FieldBar .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,254,254,1.00);
	border-radius: 22.8px;
	border: 1px solid rgba(174.25000101327896,161.90729051828384,161.90729051828384,1);
	box-sizing: border-box;
}
.Login_Login .FieldBar .Subtract {
	position: absolute;
	left: 295.396005859375px;
	top: 7.8481689453125005px;
	width: 23.49208984375px;
	height: 19.72103515625px;
}
.Login_Login .FieldBar_1 {
	position: absolute;
	left: 561.64px;
	top: 394.44px;
	width: 326.8px;
	height: 35.72px;
}
.Login_Login .FieldBar_1 .Rectangle1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,254,254,1.00);
	border-radius: 22.8px;
	border: 1px solid rgba(174.25000101327896,161.90729051828384,161.90729051828384,1);
	box-sizing: border-box;
}
.Login_Login .FieldBar_1 .Subtract_1 {
	position: absolute;
	left: 295.396005859375px;
	top: 8.018779296875px;
	width: 23.49208984375px;
	height: 20.1497412109375px;
}
.Login_Login .FieldBar_1 .Password {
	position: absolute;
	left: 41.8px;
	top: 8.36px;
	width: 252.21498046875px;
	height: 24.78530517578125px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 9.120000000000001px;
	font-weight: 400;
	line-height: 10.6875px;
}
.Login_Login .Username {
	position: absolute;
	left: 618.64px;
	top: 335.92px;
	width: 195.32px;
	height: 25.84px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 9.120000000000001px;
	font-weight: 400;
	line-height: 10.6875px;
}
.Login_Login .FieldBar_2 {
	position: absolute;
	left: 627.76px;
	top: 458.28000000000003px;
	width: 186.2px;
	height: 34.96px;
}
.Login_Login .FieldBar_2 .Rectangle1_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(158,255,0,1.00);
	border-radius: 22.8px;
	border: 1px solid rgba(174.25000101327896,161.90729051828384,161.90729051828384,1);
	box-sizing: border-box;
}
.Login_Login .FieldBar_2 .Subtract_2 {
	position: absolute;
	left: 168.30697265625px;
	top: 7.8481689453125005px;
	width: 13.38498046875px;
	height: 19.72103515625px;
}
.Login_Login .Login_1 {
	position: absolute;
	left: 666.52px;
	top: 462.84000000000003px;
	width: 99.56px;
	height: 25.080000000000002px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 9.120000000000001px;
	font-weight: 400;
	line-height: 10.6875px;
}
.Login_Login .Logintofindyourpersonalizeddeals {
	position: absolute;
	left: 607.24px;
	top: 221.92000000000002px;
	width: 235.6px;
	height: 95px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 24.32px;
	font-weight: 400;
	line-height: 28.5px;
}