
.SearchAFilterLowest_SearchAFilterLowest {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(0,0,0,1.00);
}
.SearchAFilterLowest_SearchAFilterLowest .Rectangle29 {
	position: absolute;
	left: 430.16px;
	top: 154.28px;
	width: 583.6800000000001px;
	height: 127.68px;
}
.SearchAFilterLowest_SearchAFilterLowest .Group {
	position: absolute;
	left: 450.4758984375px;
	top: 173.91642578125px;
	width: 6.684210526315789%;
	height: 10.37037037037037%;
}
.SearchAFilterLowest_SearchAFilterLowest .Group .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.SearchAFilterLowest_SearchAFilterLowest .Abercrombie {
	position: absolute;
	left: 623.2px;
	top: 203.68px;
	width: 215.08px;
	height: 25.080000000000002px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(99,95,95,1.00);
	font-family: Inter;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.SearchAFilterLowest_SearchAFilterLowest .Vector_1 {
	position: absolute;
	left: 910.48px;
	top: 197.6px;
	width: 2.7894736842105265%;
	height: 5%;
}
.SearchAFilterLowest_SearchAFilterLowest .BestRate4 {
	position: absolute;
	left: 680.2px;
	top: 235.6px;
	width: 167.96px;
	height: 30.4px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 17.8125px;
}
.SearchAFilterLowest_SearchAFilterLowest .Rectangle30 {
	position: absolute;
	left: 430.16px;
	top: 630.04px;
	width: 583.6800000000001px;
	height: 127.68px;
}
.SearchAFilterLowest_SearchAFilterLowest .Group_1 {
	position: absolute;
	left: 450.4758984375px;
	top: 644.7746484375px;
	width: 6.684210526315789%;
	height: 10.37037037037037%;
}
.SearchAFilterLowest_SearchAFilterLowest .Group_1 .Vector_2 {
	position: absolute;
	left: 94.280078125px;
	top: 56.4826953125px;
	width: 2.0577017716535435%;
	height: 6.095668247767857%;
}
.SearchAFilterLowest_SearchAFilterLowest .Group_1 .Vector_3 {
	position: absolute;
	left: 94.27859375px;
	top: 57.7295703125px;
	width: 0.8446881151574803%;
	height: 3.0875069754464284%;
}
.SearchAFilterLowest_SearchAFilterLowest .Group_1 .Vector_4 {
	position: absolute;
	left: 92.29398437500001px;
	top: 56.4826953125px;
	width: 2.0577017716535435%;
	height: 6.095668247767857%;
}
.SearchAFilterLowest_SearchAFilterLowest .Group_1 .Vector_5 {
	position: absolute;
	left: 0px;
	top: 56.54837890625px;
	width: 100%;
	height: 33.566720145089285%;
}
.SearchAFilterLowest_SearchAFilterLowest .Group_1 .Vector_6 {
	position: absolute;
	left: 10.639443359375px;
	top: 0px;
	width: 74.63032880167323%;
	height: 66.43327985491071%;
}
.SearchAFilterLowest_SearchAFilterLowest .Adidas {
	position: absolute;
	left: 637.64px;
	top: 684px;
	width: 175.56px;
	height: 17.48px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(99,95,95,1.00);
	font-family: Inter;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.SearchAFilterLowest_SearchAFilterLowest .Vector_7 {
	position: absolute;
	left: 910.48px;
	top: 665.76px;
	width: 2.7894736842105265%;
	height: 5%;
}
.SearchAFilterLowest_SearchAFilterLowest .BestRate11 {
	position: absolute;
	left: 680.2px;
	top: 715.92px;
	width: 167.96px;
	height: 30.4px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 17.8125px;
}
.SearchAFilterLowest_SearchAFilterLowest .Rectangle3 {
	position: absolute;
	left: 430.16px;
	top: 470.44px;
	width: 583.6800000000001px;
	height: 127.68px;
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon {
	position: absolute;
	left: 450.68px;
	top: 489.44px;
	width: 96.52px;
	height: 85.12px;
	background: rgba(255,255,255,1.00);
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon .Vector_8 {
	position: absolute;
	left: 20.946943359375002px;
	top: 5.1144140625px;
	width: 53.48851962352362%;
	height: 63.90293666294643%;
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon .Vector_9 {
	position: absolute;
	left: 22.061708984375px;
	top: 5.4721484375000005px;
	width: 53.48851962352362%;
	height: 63.90293666294643%;
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon .Vector_10 {
	position: absolute;
	left: 5.800009765625px;
	top: 60.8126171875px;
	width: 77.93084092027559%;
	height: 22.547694614955358%;
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon .Vector_11 {
	position: absolute;
	left: 9.074169921875px;
	top: 65.89326171875px;
	width: 74.53863188976378%;
	height: 16.579328264508927%;
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon .Vector_12 {
	position: absolute;
	left: 81.419453125px;
	top: 57.97115234375px;
	width: 9.635672982283465%;
	height: 18.459211077008927%;
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon .Vector_13 {
	position: absolute;
	left: 73.562099609375px;
	top: 65.75447265625px;
	width: 7.6027697465551185%;
	height: 1.8262590680803572%;
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon .Vector_14 {
	position: absolute;
	left: 12.096728515625px;
	top: 62.58384765625px;
	width: 10.739303949311024%;
	height: 5.551583426339286%;
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon .Vector_15 {
	position: absolute;
	left: 72.6816796875px;
	top: 58.105859375px;
	width: 9.053580216535433%;
	height: 6.6462925502232135%;
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon .Vector_16 {
	position: absolute;
	left: 72.6809375px;
	top: 57.97041015625px;
	width: 18.688484251968504%;
	height: 18.460518973214285%;
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon .Vector_17 {
	position: absolute;
	left: 5.799453125px;
	top: 60.8126171875px;
	width: 77.93084092027559%;
	height: 22.547694614955358%;
}
.SearchAFilterLowest_SearchAFilterLowest .Amazon_1 {
	position: absolute;
	left: 634.6px;
	top: 514.52px;
	width: 174.04px;
	height: 22.8px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(99,95,95,1.00);
	font-family: Inter;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.SearchAFilterLowest_SearchAFilterLowest .Vector_18 {
	position: absolute;
	left: 910.48px;
	top: 509.96px;
	width: 2.7894736842105265%;
	height: 5%;
}
.SearchAFilterLowest_SearchAFilterLowest .BestRate7 {
	position: absolute;
	left: 680.2px;
	top: 547.2px;
	width: 167.96px;
	height: 28.88px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 17.8125px;
}
.SearchAFilterLowest_SearchAFilterLowest .Rectangle4 {
	position: absolute;
	left: 430.16px;
	top: 310.84000000000003px;
	width: 583.6800000000001px;
	height: 127.68px;
}
.SearchAFilterLowest_SearchAFilterLowest .Vector_19 {
	position: absolute;
	left: 450.68px;
	top: 323.76px;
	width: 6.684210526315789%;
	height: 10.37037037037037%;
}
.SearchAFilterLowest_SearchAFilterLowest .Apple {
	position: absolute;
	left: 646px;
	top: 351.88px;
	width: 159.6px;
	height: 24.32px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(99,95,95,1.00);
	font-family: Inter;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.SearchAFilterLowest_SearchAFilterLowest .Vector_20 {
	position: absolute;
	left: 910.48px;
	top: 351.88px;
	width: 2.7894736842105265%;
	height: 5%;
}
.SearchAFilterLowest_SearchAFilterLowest .BestRate5 {
	position: absolute;
	left: 680.2px;
	top: 392.16px;
	width: 167.96px;
	height: 28.88px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 15.2px;
	font-weight: 400;
	line-height: 17.8125px;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1444px;
	height: 76px;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .Rectangle19 {
	position: absolute;
	left: 38%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 1444px;
	height: 76px;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .Group1 {
	position: absolute;
	left: 213.56px;
	top: 19.76px;
	width: 872.48px;
	height: 37.24px;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .Group1 .SearchBarDesktop {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 872.48px;
	height: 37.24px;
	border-radius: 22.8px;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .Group1 .SearchBarDesktop .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,254,254,1.00);
	border-radius: 22.8px;
	border: 1px solid rgba(174.25000101327896,161.90729051828384,161.90729051828384,1);
	box-sizing: border-box;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .Group1 .SearchBarDesktop .Vector_21 {
	position: absolute;
	left: 840.5600000000001px;
	top: 8.36px;
	width: 2.5261324041811846%;
	height: 57.14285714285714%;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .Group1 .FilterDropdownListDesktop {
	position: absolute;
	left: 12.92px;
	top: 8.36px;
	width: 21.28px;
	height: 22.04px;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .Group1 .FilterDropdownListDesktop .Vector_22 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .Group4 {
	position: absolute;
	left: 1102px;
	top: 15.96px;
	width: 279.68px;
	height: 44.08px;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .Group4 .Rectangle21 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(20,135,255,1.00);
	border-radius: 22.8px;
	border: 1px solid rgba(174.25000101327896,161.90729051828384,161.90729051828384,1);
	box-sizing: border-box;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .Group4 .USERNAME {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 1px solid rgba(0,0,0,1);
	font-family: Microsoft JhengHei UI;
	font-size: 18.240000000000002px;
	font-weight: 700;
	line-height: 21.375px;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .Group4 ._ {
	position: absolute;
	left: 122.36px;
	top: 3.04px;
	width: 50%;
	height: 86.20689655172413%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 18.240000000000002px;
	font-weight: 400;
	line-height: 21.375px;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .TSP3 {
	position: absolute;
	left: 17.48px;
	top: 5.32px;
	width: 164.92000000000002px;
	height: 65.36px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 60.04px;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .MenuIcon {
	position: absolute;
	left: 1397.64px;
	top: 25.080000000000002px;
	width: 31.92px;
	height: 26.6px;
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .MenuIcon .Line1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 0%;
	border: 1px solid rgba(255,255,255,1);
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .MenuIcon .Line2 {
	position: absolute;
	left: 0px;
	top: 13.3px;
	width: 100%;
	height: 0%;
	border: 1px solid rgba(255,255,255,1);
}
.SearchAFilterLowest_SearchAFilterLowest .TopBar .MenuIcon .Line3 {
	position: absolute;
	left: 0px;
	top: 26.6px;
	width: 100%;
	height: 0%;
	border: 1px solid rgba(255,255,255,1);
}