
.SplashPage_SplashPage {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(0,104,213,1.00);
}
.SplashPage_SplashPage .TSP3 {
	position: absolute;
	left: 506.16px;
	top: 139.08px;
	width: 432.44px;
	height: 271.32px;
	object-fit: cover;
	overflow: hidden;
}