
.StoreRatePageWithAccount_StoreRatePageWithAccount {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(0,0,0,1.00);
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button {
	position: absolute;
	left: 675.64px;
	top: 91.96000000000001px;
	width: 740.24px;
	height: 235.03px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .Rectangle3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 740.24px;
	height: 234.84px;
	background: rgba(0,0,0,1.00);
	border-radius: 7.6px;
	border: 1px solid rgba(255,255,255,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .Line4 {
	position: absolute;
	left: 157.91783203125001px;
	top: 0px;
	width: 0px;
	height: 234.84px;
	border: 1px solid rgba(255,255,255,1);
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .Subtract {
	position: absolute;
	left: 638.87759765625px;
	top: 75.3446484375px;
	width: 74.02392578125px;
	height: 84.740556640625px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .ServiceData {
	position: absolute;
	left: 0px;
	top: 2.2800000000000002px;
	width: 530.39650390625px;
	height: 232.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .ServiceData .ServiceLogo {
	position: absolute;
	margin-left: 0px;
	margin-right: 489.89013671875px;
	top: 8.36px;
	width: 158.08px;
	height: 157.32px;
	object-fit: cover;
	overflow: hidden;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .ServiceData .HooplaDoopla {
	position: absolute;
	margin-left: 230px;
	margin-right: 27.13525390625px;
	top: 0px;
	width: 334.9737109375px;
	height: 58.71px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 30.4px;
	font-weight: 300;
	line-height: 35.625px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .ServiceData ._5 {
	position: absolute;
	margin-left: 66px;
	margin-right: 536.58056640625px;
	top: 174.04px;
	width: 72.4352734375px;
	height: 58.71px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 36.480000000000004px;
	font-weight: 700;
	line-height: 42.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .ServiceData .Instore {
	position: absolute;
	margin-left: 231.1630859375px;
	margin-right: 316.87353515625px;
	top: 183.6349072265625px;
	width: 113.888671875px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .ServiceData .Online {
	position: absolute;
	margin-left: 233.759765625px;
	margin-right: 322.06884765625px;
	top: 146.451962890625px;
	width: 107.9667578125px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .ServiceData .Extension {
	position: absolute;
	margin-left: 446.74169921875px;
	margin-right: 38.958984375px;
	top: 185.5920556640625px;
	width: 161.263984375px;
	height: 37.18299072265625px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .ServiceData .CardLinked {
	position: absolute;
	margin-left: 436.3515625px;
	margin-right: 0px;
	top: 107.311962890625px;
	width: 198.76931640625px;
	height: 29.355px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button .ServiceData .Receipt {
	position: absolute;
	margin-left: 472.71435546875px;
	margin-right: 64.93310546875px;
	top: 144.495px;
	width: 121.78443359375px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 {
	position: absolute;
	left: 675.64px;
	top: 342.76px;
	width: 740.24px;
	height: 235.03px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .Rectangle3_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 740.24px;
	height: 234.84px;
	background: rgba(0,0,0,1.00);
	border-radius: 7.6px;
	border: 1px solid rgba(255,255,255,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .Line4_1 {
	position: absolute;
	left: 157.91783203125001px;
	top: 0px;
	width: 0px;
	height: 234.84px;
	border: 1px solid rgba(255,255,255,1);
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .Subtract_1 {
	position: absolute;
	left: 638.87759765625px;
	top: 75.3446484375px;
	width: 74.02392578125px;
	height: 84.74060302734375px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .ServiceData_1 {
	position: absolute;
	left: 0px;
	top: 2.2800000000000002px;
	width: 530.39650390625px;
	height: 232.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .ServiceData_1 .ServiceLogo_1 {
	position: absolute;
	margin-left: 0px;
	margin-right: 489.89013671875px;
	top: 9.120000000000001px;
	width: 158.08px;
	height: 156.56px;
	object-fit: cover;
	overflow: hidden;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .ServiceData_1 .MaxRebates {
	position: absolute;
	margin-left: 230px;
	margin-right: 27.13525390625px;
	top: 0px;
	width: 334.9737109375px;
	height: 58.71px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 30.4px;
	font-weight: 300;
	line-height: 35.625px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .ServiceData_1 ._4 {
	position: absolute;
	margin-left: 66px;
	margin-right: 536.58056640625px;
	top: 174.04px;
	width: 72.4352734375px;
	height: 58.71px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 36.480000000000004px;
	font-weight: 700;
	line-height: 42.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .ServiceData_1 .Instore_1 {
	position: absolute;
	margin-left: 231.1630859375px;
	margin-right: 316.87353515625px;
	top: 183.63495361328125px;
	width: 113.888671875px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .ServiceData_1 .Online_1 {
	position: absolute;
	margin-left: 233.759765625px;
	margin-right: 322.06884765625px;
	top: 146.451962890625px;
	width: 107.9667578125px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .ServiceData_1 .Extension_1 {
	position: absolute;
	margin-left: 446.74169921875px;
	margin-right: 38.958984375px;
	top: 185.5920556640625px;
	width: 161.263984375px;
	height: 37.18299072265625px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .ServiceData_1 .CardLinked_1 {
	position: absolute;
	margin-left: 436.3515625px;
	margin-right: 0px;
	top: 107.31200927734375px;
	width: 198.76931640625px;
	height: 29.355px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_1 .ServiceData_1 .Receipt_1 {
	position: absolute;
	margin-left: 472.71435546875px;
	margin-right: 64.93310546875px;
	top: 144.495px;
	width: 121.78443359375px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 {
	position: absolute;
	left: 673.36px;
	top: 593.5600000000001px;
	width: 740.24px;
	height: 235.03px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .Rectangle3_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 740.24px;
	height: 234.84px;
	background: rgba(0,0,0,1.00);
	border-radius: 7.6px;
	border: 1px solid rgba(255,255,255,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .Line4_2 {
	position: absolute;
	left: 157.91783203125001px;
	top: 0px;
	width: 0px;
	height: 234.84px;
	border: 1px solid rgba(255,255,255,1);
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .Subtract_2 {
	position: absolute;
	left: 638.87759765625px;
	top: 75.3446484375px;
	width: 74.02392578125px;
	height: 84.74060302734375px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .ServiceData_2 {
	position: absolute;
	left: 0px;
	top: 2.2800000000000002px;
	width: 530.39650390625px;
	height: 232.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .ServiceData_2 .ServiceLogo_2 {
	position: absolute;
	margin-left: 0px;
	margin-right: 489.89013671875px;
	top: 9.120000000000001px;
	width: 158.08px;
	height: 156.56px;
	object-fit: cover;
	overflow: hidden;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .ServiceData_2 .rebatesme {
	position: absolute;
	margin-left: 230px;
	margin-right: 27.13525390625px;
	top: 0px;
	width: 334.9737109375px;
	height: 58.71px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 30.4px;
	font-weight: 300;
	line-height: 35.625px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .ServiceData_2 ._4_1 {
	position: absolute;
	margin-left: 66px;
	margin-right: 536.58056640625px;
	top: 174.04px;
	width: 72.4352734375px;
	height: 58.71px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 36.480000000000004px;
	font-weight: 700;
	line-height: 42.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .ServiceData_2 .Instore_2 {
	position: absolute;
	margin-left: 231.1630859375px;
	margin-right: 316.87353515625px;
	top: 183.63495361328125px;
	width: 113.888671875px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .ServiceData_2 .Online_2 {
	position: absolute;
	margin-left: 233.759765625px;
	margin-right: 322.06884765625px;
	top: 146.451962890625px;
	width: 107.9667578125px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .ServiceData_2 .Extension_2 {
	position: absolute;
	margin-left: 446.74169921875px;
	margin-right: 38.958984375px;
	top: 185.59207885742188px;
	width: 161.263984375px;
	height: 37.18299072265625px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .ServiceData_2 .CardLinked_2 {
	position: absolute;
	margin-left: 436.3515625px;
	margin-right: 0px;
	top: 107.31200927734375px;
	width: 198.76931640625px;
	height: 29.355px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_2 .ServiceData_2 .Receipt_2 {
	position: absolute;
	margin-left: 472.71435546875px;
	margin-right: 64.93310546875px;
	top: 144.495px;
	width: 121.78443359375px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 {
	position: absolute;
	left: 673.36px;
	top: 844.36px;
	width: 740.24px;
	height: 235.03px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .Rectangle3_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 740.24px;
	height: 234.84px;
	background: rgba(0,0,0,1.00);
	border-radius: 7.6px;
	border: 1px solid rgba(255,255,255,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .Line4_3 {
	position: absolute;
	left: 157.91783203125001px;
	top: 0px;
	width: 0px;
	height: 234.84px;
	border: 1px solid rgba(255,255,255,1);
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .Subtract_3 {
	position: absolute;
	left: 638.87759765625px;
	top: 75.34463684082031px;
	width: 74.02392578125px;
	height: 84.74059143066407px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .ServiceData_3 {
	position: absolute;
	left: 0px;
	top: 2.2800000000000002px;
	width: 530.39650390625px;
	height: 232.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .ServiceData_3 .ServiceLogo_3 {
	position: absolute;
	margin-left: 0px;
	margin-right: 489.89013671875px;
	top: 9.120000000000001px;
	width: 158.08px;
	height: 156.56px;
	object-fit: cover;
	overflow: hidden;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .ServiceData_3 .DollarDig {
	position: absolute;
	margin-left: 230px;
	margin-right: 27.13525390625px;
	top: 0px;
	width: 334.9737109375px;
	height: 58.71px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 30.4px;
	font-weight: 300;
	line-height: 35.625px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .ServiceData_3 ._4_2 {
	position: absolute;
	margin-left: 66px;
	margin-right: 536.58056640625px;
	top: 174.04px;
	width: 72.4352734375px;
	height: 58.71px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 36.480000000000004px;
	font-weight: 700;
	line-height: 42.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .ServiceData_3 .Instore_3 {
	position: absolute;
	margin-left: 231.1630859375px;
	margin-right: 316.87353515625px;
	top: 183.63494201660157px;
	width: 113.888671875px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .ServiceData_3 .Online_3 {
	position: absolute;
	margin-left: 233.759765625px;
	margin-right: 322.06884765625px;
	top: 146.4519512939453px;
	width: 107.9667578125px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .ServiceData_3 .Extension_3 {
	position: absolute;
	margin-left: 446.74169921875px;
	margin-right: 38.958984375px;
	top: 185.59207885742188px;
	width: 161.263984375px;
	height: 37.18299942016601px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .ServiceData_3 .CardLinked_3 {
	position: absolute;
	margin-left: 436.3515625px;
	margin-right: 0px;
	top: 107.31200927734375px;
	width: 198.76931640625px;
	height: 29.355px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_3 .ServiceData_3 .Receipt_3 {
	position: absolute;
	margin-left: 472.71435546875px;
	margin-right: 64.93310546875px;
	top: 144.495px;
	width: 121.78443359375px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 {
	position: absolute;
	left: 675.64px;
	top: 1095.16px;
	width: 740.24px;
	height: 235.03px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .Rectangle3_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 740.24px;
	height: 234.84px;
	background: rgba(0,0,0,1.00);
	border-radius: 7.6px;
	border: 1px solid rgba(255,255,255,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .Line4_4 {
	position: absolute;
	left: 157.91783203125001px;
	top: 0px;
	width: 0px;
	height: 234.84px;
	border: 1px solid rgba(255,255,255,1);
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .Subtract_4 {
	position: absolute;
	left: 638.87759765625px;
	top: 75.34463684082031px;
	width: 74.02392578125px;
	height: 84.74059143066407px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .ServiceData_4 {
	position: absolute;
	left: 0px;
	top: 2.2800000000000002px;
	width: 530.39650390625px;
	height: 232.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .ServiceData_4 .ServiceLogo_4 {
	position: absolute;
	margin-left: 0px;
	margin-right: 489.89013671875px;
	top: 9.120000000000001px;
	width: 158.08px;
	height: 156.56px;
	object-fit: cover;
	overflow: hidden;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .ServiceData_4 .GoCashBack {
	position: absolute;
	margin-left: 230px;
	margin-right: 27.13525390625px;
	top: 0px;
	width: 334.9737109375px;
	height: 58.71px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 30.4px;
	font-weight: 300;
	line-height: 35.625px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .ServiceData_4 ._4_3 {
	position: absolute;
	margin-left: 66px;
	margin-right: 536.58056640625px;
	top: 174.04px;
	width: 72.4352734375px;
	height: 58.71px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 36.480000000000004px;
	font-weight: 700;
	line-height: 42.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .ServiceData_4 .Instore_4 {
	position: absolute;
	margin-left: 231.1630859375px;
	margin-right: 316.87353515625px;
	top: 183.63495361328125px;
	width: 113.888671875px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .ServiceData_4 .Online_4 {
	position: absolute;
	margin-left: 233.759765625px;
	margin-right: 322.06884765625px;
	top: 146.4519512939453px;
	width: 107.9667578125px;
	height: 39.140011596679685px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .ServiceData_4 .Extension_4 {
	position: absolute;
	margin-left: 446.74169921875px;
	margin-right: 38.958984375px;
	top: 185.59207885742188px;
	width: 161.263984375px;
	height: 37.18299072265625px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .ServiceData_4 .CardLinked_4 {
	position: absolute;
	margin-left: 436.3515625px;
	margin-right: 0px;
	top: 107.31200927734375px;
	width: 198.76931640625px;
	height: 29.355px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .Button_4 .ServiceData_4 .Receipt_4 {
	position: absolute;
	margin-left: 472.71435546875px;
	margin-right: 64.93310546875px;
	top: 144.495px;
	width: 121.78443359375px;
	height: 39.14px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(71,71,71,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 24.32px;
	font-weight: 700;
	line-height: 28.5px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph {
	position: absolute;
	left: 0px;
	top: 76.76px;
	width: 649.04px;
	height: 744.04px;
	background: rgba(255,255,255,1.00);
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .CurrentRatesforWalmart {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 649.04px;
	height: 38px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 36.480000000000004px;
	font-weight: 700;
	line-height: 42.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .StoreLogo {
	position: absolute;
	left: 266.76px;
	top: 38px;
	width: 114.76px;
	height: 46.36px;
	object-fit: cover;
	overflow: hidden;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .Rectangle41 {
	position: absolute;
	left: 62.32px;
	top: 84.36px;
	width: 523.64px;
	height: 535.8px;
	background: rgba(0,104,213,1.00);
	border-radius: 11.4px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .Rectangle42 {
	position: absolute;
	left: 61.56px;
	top: 456.76px;
	width: 524.4px;
	height: 163.4px;
	background: rgba(0,0,0,1.00);
	border-radius: 11.4px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph ._ {
	position: absolute;
	left: 62.32px;
	top: 275.88px;
	width: 22.8px;
	height: 16.72px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 0.5px solid rgba(0,0,0,1);
	font-family: Microsoft JhengHei UI;
	font-size: 18.240000000000002px;
	font-weight: 700;
	line-height: 21.375px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph ._012345 {
	position: absolute;
	left: 85.12px;
	top: 114.76px;
	width: 20.52px;
	height: 338.96px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 0.5px solid rgba(0,0,0,1);
	font-family: Microsoft JhengHei UI;
	font-size: 18.240000000000002px;
	font-weight: 700;
	line-height: 21.375px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .Rectangle43 {
	position: absolute;
	left: 105.64px;
	top: 118.56px;
	width: 458.28000000000003px;
	height: 332.12px;
	background: rgba(255,255,255,0.05);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate {
	position: absolute;
	left: 121.6px;
	top: 118.56px;
	width: 38.76px;
	height: 497.04px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate .HooplaDoopla_1 {
	position: absolute;
	left: 9.120000000000001px;
	top: 342px;
	width: 21.28px;
	height: 129.2px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 0.5px solid rgba(0,0,0,1);
	font-family: Microsoft JhengHei UI;
	font-size: 18.240000000000002px;
	font-weight: 300;
	line-height: 21.375px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate .Rectangle44 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 38.76px;
	height: 332.12px;
	background: rgba(255,255,255,1.00);
	border-radius: 7.6px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate .ServiceLogo_5 {
	position: absolute;
	margin-left: 9px;
	margin-right: 8px;
	top: 471.2px;
	width: 25.84px;
	height: 25.84px;
	object-fit: cover;
	overflow: hidden;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_1 {
	position: absolute;
	left: 176.32px;
	top: 181.64000000000001px;
	width: 39.52px;
	height: 433.96px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_1 .MaxRebates_1 {
	position: absolute;
	left: 9.120000000000001px;
	top: 278.92px;
	width: 21.28px;
	height: 129.2px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 0.5px solid rgba(0,0,0,1);
	font-family: Microsoft JhengHei UI;
	font-size: 18.240000000000002px;
	font-weight: 300;
	line-height: 21.375px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_1 .Rectangle44_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 39.52px;
	height: 269.04px;
	background: rgba(255,255,255,1.00);
	border-radius: 7.6px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_1 .ServiceLogo_6 {
	position: absolute;
	margin-left: 9px;
	margin-right: 9px;
	top: 408.12px;
	width: 25.84px;
	height: 25.84px;
	object-fit: cover;
	overflow: hidden;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_2 {
	position: absolute;
	left: 231.04px;
	top: 181.64000000000001px;
	width: 40.28px;
	height: 433.96px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_2 .rebatesme_1 {
	position: absolute;
	left: 9.120000000000001px;
	top: 278.92px;
	width: 21.28px;
	height: 129.2px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 0.5px solid rgba(0,0,0,1);
	font-family: Microsoft JhengHei UI;
	font-size: 18.240000000000002px;
	font-weight: 300;
	line-height: 21.375px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_2 .Rectangle44_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40.28px;
	height: 269.04px;
	background: rgba(255,255,255,1.00);
	border-radius: 7.6px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_2 .ServiceLogo_7 {
	position: absolute;
	margin-left: 9px;
	margin-right: 10px;
	top: 408.12px;
	width: 25.84px;
	height: 25.84px;
	object-fit: cover;
	overflow: hidden;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_3 {
	position: absolute;
	left: 285px;
	top: 181.64000000000001px;
	width: 39.52px;
	height: 433.96px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_3 .DollarDig_1 {
	position: absolute;
	left: 9.120000000000001px;
	top: 278.92px;
	width: 21.28px;
	height: 129.2px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 0.5px solid rgba(0,0,0,1);
	font-family: Microsoft JhengHei UI;
	font-size: 18.240000000000002px;
	font-weight: 300;
	line-height: 21.375px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_3 .Rectangle44_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 39.52px;
	height: 269.04px;
	background: rgba(255,255,255,1.00);
	border-radius: 7.6px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_3 .ServiceLogo_8 {
	position: absolute;
	margin-left: 9px;
	margin-right: 9px;
	top: 408.12px;
	width: 25.84px;
	height: 25.84px;
	object-fit: cover;
	overflow: hidden;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_4 {
	position: absolute;
	left: 339.72px;
	top: 244.72px;
	width: 41.8px;
	height: 370.88px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_4 .GoCashBack_1 {
	position: absolute;
	left: 9.120000000000001px;
	top: 215.84px;
	width: 21.28px;
	height: 129.2px;
	display: flex;
	justify-content: flex-end;
	text-align: right;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 0.5px solid rgba(0,0,0,1);
	font-family: Microsoft JhengHei UI;
	font-size: 18.240000000000002px;
	font-weight: 300;
	line-height: 21.375px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_4 .Rectangle44_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 41.8px;
	height: 205.96px;
	background: rgba(255,255,255,1.00);
	border-radius: 7.6px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .ServiceRate_4 .ServiceLogo_9 {
	position: absolute;
	margin-left: 9px;
	margin-right: 12px;
	top: 345.04px;
	width: 25.84px;
	height: 25.84px;
	object-fit: cover;
	overflow: hidden;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .HistoricalMode {
	position: absolute;
	left: 62.32px;
	top: 637.64px;
	width: 523.64px;
	height: 88.16px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .HistoricalMode .Rectangle45 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 523.64px;
	height: 88.16px;
	background: rgba(0,104,213,1.00);
	border-radius: 11.4px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .RateGraph .HistoricalMode .HistoricalMode_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 523.64px;
	height: 88.16px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Microsoft JhengHei UI;
	font-size: 36.480000000000004px;
	font-weight: 700;
	line-height: 42.75px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1444px;
	height: 76px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .Rectangle19 {
	position: absolute;
	left: 38%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 1444px;
	height: 76px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .Group1 {
	position: absolute;
	left: 213.56px;
	top: 19.76px;
	width: 872.48px;
	height: 37.24px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .Group1 .SearchBarDesktop {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 872.48px;
	height: 37.24px;
	border-radius: 22.8px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .Group1 .SearchBarDesktop .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,254,254,1.00);
	border-radius: 22.8px;
	border: 1px solid rgba(174.25000101327896,161.90729051828384,161.90729051828384,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .Group1 .SearchBarDesktop .Vector {
	position: absolute;
	left: 840.5600000000001px;
	top: 8.36px;
	width: 2.5261324041811846%;
	height: 57.14285714285714%;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .Group4 {
	position: absolute;
	left: 1102px;
	top: 15.96px;
	width: 279.68px;
	height: 44.08px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .Group4 .Rectangle21 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(20,135,255,1.00);
	border-radius: 22.8px;
	border: 1px solid rgba(174.25000101327896,161.90729051828384,161.90729051828384,1);
	box-sizing: border-box;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .Group4 .USERNAME {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	border: 1px solid rgba(0,0,0,1);
	font-family: Microsoft JhengHei UI;
	font-size: 18.240000000000002px;
	font-weight: 700;
	line-height: 21.375px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .Group4 .__1 {
	position: absolute;
	left: 122.36px;
	top: 3.04px;
	width: 50%;
	height: 86.20689655172413%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 18.240000000000002px;
	font-weight: 400;
	line-height: 21.375px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .TSP3 {
	position: absolute;
	left: 17.48px;
	top: 5.32px;
	width: 164.92000000000002px;
	height: 65.36px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 60.04px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .MenuIcon {
	position: absolute;
	left: 1397.64px;
	top: 25.080000000000002px;
	width: 31.92px;
	height: 26.6px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .MenuIcon .Line1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 0%;
	border: 1px solid rgba(255,255,255,1);
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .MenuIcon .Line2 {
	position: absolute;
	left: 0px;
	top: 13.3px;
	width: 100%;
	height: 0%;
	border: 1px solid rgba(255,255,255,1);
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .MenuIcon .Line3 {
	position: absolute;
	left: 0px;
	top: 26.6px;
	width: 100%;
	height: 0%;
	border: 1px solid rgba(255,255,255,1);
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .FilterDropdownListDesktop {
	position: absolute;
	left: 226.48px;
	top: 28.12px;
	width: 21.28px;
	height: 22.04px;
}
.StoreRatePageWithAccount_StoreRatePageWithAccount .TopBar .FilterDropdownListDesktop .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}